{#
/**
 * @file
 * Default theme implementation to navigate books.
 *
 * Presented under nodes that are a part of book outlines.
 *
 * Available variables:
 * - tree: The immediate children of the current node rendered as an unordered
 *   list.
 * - current_depth: Depth of the current node within the book outline. Provided
 *   for context.
 * - prev_url: URL to the previous node.
 * - prev_title: Title of the previous node.
 * - parent_url: URL to the parent node.
 * - parent_title: Title of the parent node. Not printed by default. Provided
 *   as an option.
 * - next_url: URL to the next node.
 * - next_title: Title of the next node.
 * - has_links: Flags TRUE whenever the previous, parent or next data has a
 *   value.
 * - book_id: The book ID of the current outline being viewed. Same as the node
 *   ID containing the entire outline. Provided for context.
 * - book_url: The book/node URL of the current outline being viewed. Provided
 *   as an option. Not used by default.
 * - book_title: The book/node title of the current outline being viewed.
 *
 * @see template_preprocess_book_navigation()
 *
 * @ingroup themeable
 */
#}
{% if has_links %}
  <div role="navigation" aria-labelledby="book-label-{{ book_id }}">
    <ul class="pagination pagination-sm">
      {% if prev_url %}
        <li class="page-item">
          <a href="{{ prev_url }}" class="page-link" rel="prev" title="{{ prev_title }}">&larr;</a>
        </li>
      {% endif %}
      {% if parent_url %}
        <li class="page-item">
          <a href="{{ parent_url }}" class="page-link" title="{{ 'Go to parent page'|t }}">&uarr;</a>
        </li>
      {% endif %}
      {% if next_url %}
        <li class="page-item">
          <a href="{{ next_url }}" class="page-link" rel="next" title="{{ next_title }}">&rarr;</a>
        </li>
      {% endif %}
    </ul>
  </div>
{% endif %}
